@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

@import "tailwindcss";

#root {
  min-height: 100vh;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
